{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/homepage.css">
{% endblock %}

{% block body %}
    <h1>Liste des derniers articles</h1>

    <ul>
        {% for article in articles %}
            <li>{{ article.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}




